<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
    
    <app-dashbord-card [totalConfirmed]='totalConfirmed'
    [totalActive]='totalActive'
    [totalDeath]='totalDeath'
    [totalRecovered]='totalRecovered'
    
    ></app-dashbord-card>
</div>
<hr>
<div class="ui form">
    <div class="inline fields">
      <label for="fruit">Select Case Type:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" value="c" id='c' #c (click)='updateChart(c.value)' name="casetype" checked="" tabindex="0" class="hidden">
          <label for='c'>Confirmed</label>
        </div>
      </div> 
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id='d' value="d"  #d (click)='updateChart(d.value)' name="casetype" tabindex="0" class="hidden">
          <label for='d'>Deaths</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" value="r" id='r' #r (click)='updateChart(r.value)' name="casetype" tabindex="0" class="hidden">
          <label for='r'>Recovered</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" value="a" id='a' #a (click)='updateChart(a.value)' name="casetype" tabindex="0" class="hidden">
          <label for='a'>Active</label>
        </div>
      </div>
    </div>
   
<div class="row">
    <div class="col ">
        <google-chart [type]="chart.ColumnChart" [data]='datatable'></google-chart>
        </div>
<div class="col ">

    <google-chart [type]="chart.PieChart" [data]='datatable'></google-chart>
</div>

</div>



